body {
  padding-bottom: 75px;
}

.row {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

header {
  padding: 25px;
  background-color: rgb(242, 232, 240);
}

.i-cart {
  position: absolute;
  right: 30px;
  top: 33px;
}

.i-home {
  position: absolute;
  left: 30px;
  top: 33px;
}

.cart-number {
  position: absolute;
  right: 20px;
  top: 15px;
}

@font-face /* permet d'utiliser une police personnalisée, avec notemment fontsquirrel.com. */ {
  font-family: "BH"; /* c'est le nom du fichier qu'on va chercher, on peut le faire en relatif s'il se trouve dans un sous dossier. PLus bas, on utilise plusieurs formats pour être sur que l'un soit lu par le navigateur, car tout les navigateur ne lisent pas tout les formats. */
  src: url("Police/BH.otf") format("otf"),
    /*  OpenType Font. Ne fonctionne pas sur Internet Explorer. */
      url("Police/BH.eot") format("eot"),
    /* Embedded OpenType. Fonctionne sur Internet Explorer uniquement, toutes versions. Ce format est propriétaire, produit par Microsoft. */
      url("Police/BH.ttf") format("truetype"),
    /* TrueType Font. Fonctionne sur IE9 et tous les autres navigateurs. */
      url("Police/BH.svg") format("svg"); /* SVG Font. Le seul format reconnu sur les iPhones et iPads pour le moment. */
}

.orinoco-font {
  font-family: "BH";
}

/* pageProduct */
.product-list {
  height: 80%;
}

/* teddy's name */
h2 {
  text-transform: lowercase;
}

select {
  margin: 20px;
}

/* panier */
.header-cart {
  border-bottom: black dashed 3px;
  padding-bottom: 15px;
}

.container-cart {
  padding-top: 30px;
}

.cart {
  padding-top: 30px;
}

.empty-cart {
  padding-top: 100px;
  font-size: 30px;
}

.img-empty {
  display: none;
}

.span {
  display: none;
}

.description-empty {
  display: none;
}

h3 {
  margin-bottom: 20px;
}

.item-cart {
  padding: 10px;
}

.btn-home {
  margin: 10px;
}

.btn-dark {
  cursor: default;
}

.container-total-price {
  padding-top: 30px;
}

.bold {
  font-weight: bold;
}

#form {
  padding-top: 50px;
  padding-bottom: 30px;
  display: none;
  border-top: black dashed 3px;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.container-button-home {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.clear-cart {
  padding-top: 30px;
}

.row-form {
  padding: 10px;
}

.font-default {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.container-thank {
  margin: 100px;
  padding: 20px;
  border: 2px black dashed;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}

#submit {
  margin: 30px;
}

.error {
  color: red;
  font-weight: bold;
  font-style: italic;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  background-color: rgb(242, 232, 240);
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  .i-cart {
    top: 30px;
  }
  .i-home {
    top: 30px;
  }
  .fa-2x {
    font-size: 1.5em;
  }
  .container-img {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  h2 {
    text-align: center;
  }
  .product-list {
    text-align: center;
  }
  .list-product {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  /* panier */
  .header-cart {
    display: none;
  }
  .img-empty {
    display: inline;
  }
  .description-empty {
    display: inline;
  }
  .container-cart {
    padding-top: 0px;
  }
  .cart {
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: black dashed 3px;
  }
  .container-img {
    padding-bottom: 20px;
  }
  .container-total-price {
    padding-bottom: 20px;
  }
  .container-sub {
    padding-top: 20px;
  }
  .span {
    display: inline;
    padding: 15px;
  }
}
